modules = ["nodejs-20", "web", "typescript-language-server"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000
